Systems Engineering & Operations/SSEO26_L02_Sub-Tech.pdf
Systems Engineering & Operations/SSEO26_L03_SE-part2.pdf
Space Propulsion/Books/Aerospikes.pdf
Space Propulsion/Books/RAO-Nozzle.pdf
Space Propulsion/Books/Nozzle story.pdf
Space Propulsion/Slides/Radioisotopes.pdf
Systems Engineering & Operations/SSEO26_SE_L3_part1.pdf
Systems Engineering & Operations/SSEO26_L03_SE-part3.pdf
*.pdf
*.json
.obsidian/plugins/copilot/main.js
.obsidian/plugins/calendar/main.js
.obsidian/plugins/obsidian-excalidraw-plugin/main.js
*.png
*.canvas
